
.rate-box-outer {
    position: fixed;
    width:463px;
    bottom: 120px;
    right: 15px
}

.rate-box-outer .showing {
    border-radius: 50px;
    padding: 0!important;
    border: 0!important;
    background-color: #fff!important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center
}

.rate-box-outer .showing i {
    width: 40px!important;
    height: 40px!important;
    left: -40px!important;
    background: url(../img/close.png) no-repeat center center!important
}

.rate-box-outer .showing i img {
    display: none
}

.rate-box-outer .showing span {
    display: none
}

.rate-box-outer .rate-button {
    background: #FFB726;
    border: 2px solid #E9A825;
    padding: 4px 28px;
    position: absolute;
    bottom: -50px;
    right: 0;
    font: 500 17px/24px "Poppins", sans-serif;
    color: #000;
    border-right: 0;
    height: 36px
}

.rate-box-outer .rate-button i {
    background: #fff;
    width: 40px!important;
    height: 40px!important;
    border-radius: 50px;
    position: absolute;
    left: -20px;
    top: -4px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-shadow: 2px 0px 9px -1px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 2px 0px 9px -1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 0px 9px -1px rgba(0, 0, 0, 0.47)
}

.rate-box-outer .the-mv-rate-box {
    width: 100%;
    height: auto;
    background: #EFEFEF;
    border-radius: 10px;
    border: 1px solid #5B5B5B;
    overflow: hidden;
    margin-right: 15px;
    display: none
}

.rate-box-outer .the-mv-rate-box .rate-head {
    background: #fff;
    padding-left: 24px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    height: 62px
}

.rate-box-outer .the-mv-rate-box .rate-head i {
    margin-right: 8px
}

.rate-box-outer .the-mv-rate-box .rate-head h2 {
    margin-bottom: 0;
    font: 500 17px/23px "Poppins", sans-serif
}

.rate-box-outer .the-mv-rate-box .footer {
    padding: 15px 24px;
    width: 100%;
    height: 80px;
    background: #fff
}

.rate-box-outer .the-mv-rate-box .footer button {
    background: #111;
    padding: 10px 25px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    font: 500 17px/23px "Poppins", sans-serif;
    color: #fff;
    border: 2px solid #111;
    position: relative;
}

.rate-box-outer .the-mv-rate-box .footer button:hover {
    background: #FFB726;
    color: #111;
    border: 2px solid #E9A825
}

.forms {
    padding: 27px 24px 35px;
    height: 100%
}

.forms .input-holder {
    position: relative
}

.forms h3 {
    font: 500 20px/23px "Poppins", sans-serif;
    width: 100%
}

.forms h3>span {
    color: #777
}

.forms button {
    background: #FFB726;
    color: #111;
    border: 2px solid #E9A825;
    padding: 5px 10px;
    width: auto;
    border-radius: 5px;
    font: 500 13px/23px "Poppins", sans-serif;
    margin-top: 10px
}

.forms input[type=email],
.forms input[type=number],
.forms input[type=password],
.forms input[type=tel],
.forms input[type=text],
.forms input[type=url],
.forms select,
.forms textarea {
    font: 13px/23px "Poppins", sans-serif;
    color: #797979;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: none;
    margin-bottom: 25px;
    outline: none;
    display: block;
    height: 50px;
    padding: 7px 15px;
    border-radius: 5px;
    width: 100%
}

.forms select {
    padding-right: 30px;
    color: #797979
}

.forms .sl-bx:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #cbcbcb;
    position: absolute;
    top: 23px;
    right: 15px
}

.forms::-webkit-input-placeholder {
    opacity: 1;
    color: #B8B8B8
}

.forms:-moz-placeholder {
    opacity: 1;
    color: #B8B8B8
}

.forms::-moz-placeholder {
    opacity: 1;
    color: #B8B8B8
}

.forms:-ms-input-placeholder {
    opacity: 1;
    color: #B8B8B8
}

.select2-results__option {
    padding-right: 20px;
    vertical-align: middle;
    font: 14px/23px "Poppins", sans-serif
}

.select2-results__option:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: #EFEFEF;
    margin-right: 20px;
    vertical-align: middle
}

.select2-results__option[aria-selected=true]:before {
    background: url(../img/ok.png) no-repeat center center!important;
    color: #E9A825;
    background-color: #111!important;
    border: 0;
    display: inline-block;
    padding-left: 3px;
    height: 21px;
    font-size: 14px;
    width: 20px!important;
    font-weight: 200!important
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eaeaeb;
    color: #272727
}

.select2-container--default .select2-selection--multiple {
    margin-bottom: 10px
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 4px
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #f77750;
    border-width: 2px
}

.select2-container--default .select2-selection--multiple {
    border-width: 2px
}

.select2-container--open .select2-dropdown--below {
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.select2-selection .select2-selection--multiple:after {
    content: 'hhghgh'
}

.select2-container {
    width: 412px!important
}

.select2-container--open .select2-dropdown--below {
    width: 412px!important
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    width: 412px!important
}

.select2-container--default .select2-selection--multiple {
    width:412px!important;
    font: 13px/23px "Poppins", sans-serif;
    color: #797979;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: none;
    margin-bottom: 0px;
    outline: none;
    display: block;
    min-height: 50px;
    padding: 7px 15px;
    border-radius: 5px;
    width: 100%;
    border: 0!important
}

.select2-results {}

.select2-results::-webkit-scrollbar {
    width: 8px
}

.select2-results::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 10px
}

.select2-results::-webkit-scrollbar-thumb {
    background: #d4d8df;
    border-radius: 10px
}

.select2-results::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-radius: 5px!important
}

.select2-container--default .select2-search--inline .select2-search__field {
    width: 100%!important;
    font: 14px/23px "Poppins", sans-serif;
    color: #797979
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    border-radius: 25px;
    border: none;
    padding-right: 20px;
    position: relative;
    font: 14px/23px "Poppins", sans-serif
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    position: absolute;
    right: 5px;
    font-weight: 200!important;
    font-size: 16px!important
}

.select2-container .select2-selection--multiple {
    min-height: 50px!important
}

.d-none {
    display: none
}


.overlay-btn{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.59);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}



@media (max-width:1679px) {
    .rate-box-outer {
        position: fixed;
        bottom: 80px
    }
    .rate-box-outer .the-mv-rate-box .footer button {
        background: #111;
        padding: 7px 25px;
        width: 100%;
        border: 0;
        border-radius: 5px;
        font: 500 15px/23px "Poppins", sans-serif
    }
    .rate-box-outer .the-mv-rate-box .footer {
        height: 67px
    }
    .rate-box-outer .the-mv-rate-box .rate-head {
        height: 50px
    }
}